.about-churches{
    margin-top: 44px;
    margin-bottom: 44px;
}
.char-two{
    position: relative;
}
.second-chr-img{
    top: 21px;
    left: 22px;
    /* right: -22px; */
    /* top: -475px; */
    position: absolute;
    width: 90%;
}
.get-involed, .get-dir{
    text-decoration: none;
    font-weight: 600;
}
.get-involed{
    color: #EC6E39;
    margin-right: 12px;
}
.get-involed:hover, .get-dir:hover{
    color: #ec642a;
}
.get-dir{
    color: black;
}
.about-churches p, .get-dir{
    font-weight: 600;
    color: rgb(99, 99, 99);
}