.footer-container{
    background-color: rgb(2, 5, 26);
    padding: 36px 0;
    color: white;
}
.footer-container ul{
    padding-left: 0;
}
.footer-container ul li{
    list-style: none;
}
.footer-container p, .footer-container li{
    color: rgb(107, 108, 128);
}
.footer-container ul li:hover{
    color: white;
    cursor: pointer;
}
.footer-ic .ft-fundu, .footer-ic .bk-to-tp{
    color: #EC6E39;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 14px;
}
.hour-count .hour{
    color: #EC6E39;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
}