.get-involed-container{
    background-color: rgb(236, 236, 236);
    padding-bottom: 64px;
}
.upcoming-events{
    padding-top: 86px;
}
/* .upcoming-events{
    position: relative;
}
.upcoming-enjoy{
    position: absolute;
    bottom: 25px;
    left: 144px;
} */
.programe{
    background-color: #FFFFFF;
    border-radius: 5px;
}
.programe .programe-1{
    background-color: purple;
    margin: 25px 10px;
    color: white;
    width: 144px;
    height: 144px;
    text-align: center;
    padding-top: 33px;
}
.programe .find-more{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 22px;
    border-radius: 40px;
    border: 2px solid black;
}