.counter-container{
    background-color: rgb(13, 15, 26);
    color: #FFFFFF;
}
.counter-card{
    width: 100%;
}
.counter-card span{
    font-size: 19px;
    color: #EC6E39;
}
.single-counter{
    border-right: 1px solid rgb(65, 64, 64);
}
.counter-container h6{
    color: rgb(143, 143, 143);
}