.connect-container{
    background-color: #ECECEC;
    width: 100%;
    margin-top: 53px;
    padding-bottom: 55px;
}
.arrow-ico{
    color: #EC6E39;
    font-size: 12px;
}
.connect-container small{
    color: #EC6E39;
}
.connect-container p{
    color: rgb(109, 109, 109);
}